#homepage {
  align-items: center;
  background: $gray;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .bg {
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .5s ease opacity;

    &.show {
      opacity: 1;
    }
  }

  .movies {
    background-image: linear-gradient(220deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%), asset-url('mh-001-bis.png');
  }

  .games {
    background-image: linear-gradient(40deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%), asset-url('mh-002-bis.png');
  }

  a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
    padding: 32px;
    z-index: 2;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 4px;
      background: white;
      transition: width .3s ease;
      margin: auto;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
