#homepage {
  align-items: center;
  background-image: linear-gradient($gray, $gray);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
  }

  &.movies {
    background-image: asset-url('mh-001-bis.png')
  }

  &.games {
    background-image: asset-url('mh-002-bis.png')
  }

  a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
    padding: 32px;

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 4px;
      background: white;
      transition: width .3s ease;
      margin: auto;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
