<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.title %>
      <% if movie.photo.attached? %>
        <%= cl_image_tag movie.photo.key, width: 300 %>
      <% end %>
    </li>
  <% end %>
</ul>
