<div id="homepage" data-controller="homepage">
  <%= link_to "Movies",
              movies_path,
              data: {
                action: 'mouseover->homepage#toggleClass mouseout->homepage#toggleClass',
                target: 'homepage.category',
                class_name: 'movies'
              } %>
  <%= link_to "Games",
              games_path,
              data: {
                action: 'mouseover->homepage#toggleClass mouseout->homepage#toggleClass',
                target: 'homepage.category',
                class_name: 'games'
              } %>
</div>


