<div class="container">
  <div class="row">
    <div class="col">
      <div class="infos-wrapper">
        <div class="infos-biography">
          <p>Maxime Hervé is a music composer based in Paris.</p>
          <p>
            He started his career in Los Angeles as an assistant for the Oscar winning composer Mychael Danna on the movie <em>Transcendence</em> (Johnny Depp, Morgan Freeman).
            He had the chance to work early on movies, series and AAA games such as <em>Tyrant,</em> <em>Shadow of the Tomb Raider</em>, <em>Resident Evil 7</em> or <em>Final Fantasy XV</em>.
          </p>
          <p>
            In 2017, Maxime went back to France and stared to work exclusively as a composer. His fruitful collaboration with 3D company Unit Image leads him to compose the music of <em>Beyond the Aquila Rift</em>, an episode of the acclaimed Netflix series <em>Love Death & Robots</em>.
            He recently scored the documentary about the Indian dancer <em>Terence Lewis, Indian Man</em> directed by Pierre X. Garnier.
          </p>
          <p>
            Maxime is currently working on his first full-length movie <em>Go Fast by Harald Hutter</em>, as well as his second game <em>Solasta Crown of the Magister</em> developed by Tactical Adventures.
          </p>
          <p>
            With origins as a drummer, Maxime is self-taught with a passion for orchestral music, electro and ethnic sounds. He stands out for his ability to merge musical genres, create rich and unique sounds, and skillfully combine music and image.
          </p>
          <p>
            He had been awarded and nominated at numerous festivals for his work and received the first prize of the Young Talent Award at the Media Sound Hamburg 2017.
          </p>
        </div>
        <div class="infos-rewards">
          <h1 class="h4">REWARDS</h1>
          <ul>
            <div class="year-awards">
              <span class="year">2019</span><li>Nominated for the best score production music track - The Production Music Awards</li>
            </div>
            <div class="year-awards">
              <span class="year">2017</span><li><strong>Winner at the Lobster’s Films music composition competition</strong> – Gindou Cinéma</li>
            </div>
            <div class="year-awards">
              <span class="year ghost">2017</span><li><strong>Winner at the Young Talent Award Media Music</strong> – Media Sound Hamburg</li>
            </div>
            <div class="year-awards">
              <span class="year ghost">2017</span><li>Nominated at Paris Art and Movie Awards for the score of <em>Antonin?</em> (directed by Nicolas Legendre)</li>
            </div>
            <div class="year-awards">
              <span class="year ghost">2017</span><li>Nominated at the TMC London Film Festival for the score of <em>Antonin?</em> (directed by Nicolas Legendre)</li>
            </div>
            <div class="year-awards">
              <span class="year ghost">2017</span><li><strong>Winner at International Monthly Film Festival</strong> for the score of <em>Antonin?</em> (directed by Nicolas Legendre)</li>
            </div>
            <div class="year-awards">
              <span class="year ghost">2017</span><li>Semi-finalist at the Los Angeles CineFest for the score of <em>Antonin?</em> (directed by Nicolas Legendre)</li>
            </div>
            <div class="year-awards">
              <span class="year">2016</span><li>Top 30 finalist among 222 participants at the Oticons Faculty International Film Music Competition</li>
            </div>
            <div class="year-awards">
              <span class="year">2015</span><li>Nominated at the SABAM Award for Best Young International Composer at the World Soundtrack Award 2015</li>
            </div>
            <div class="year-awards">
              <span class="year ghost">2015</span><li><strong>Winner at the Montreal International Film Music Competition 2015 for the music of the movie <em>Segment</em></strong> – also nominated for the music of the movie <em>The Cage</em></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
