<div class="container">
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem in ipsum, quibusdam vero eum earum quis recusandae maiores blanditiis doloribus, et rerum iste non eos. Maxime, odio iusto voluptate!</p>
      <h1 class="h4">Rewards</h1>
      <ul>
        <li>2019 - Nominated for the best score production music track - The Production Music Awards </li>
        <li>2017 – Winner at the Lobster’s Films music composition competition – Gindou Cinéma 2017</li>
        <li>2017 – Winner at the Young Talent Award Media Music – Media Sound Hamburg 2017</li>
        <li>2017 – Nominated at Paris Art and Movie Awards for thescore of Antonin? (directed by Nicolas Legendre)</li>
        <li>2017 – Nominated at the TMC London Film Festival for the score of Antonin? (directed by Nicolas Legendre)</li>
        <li>2017 – Winner at International Monthly Film Festival for the score of Antonin? (directed by Nicolas Legendre)</li>
        <li>2017 – Semi-finalist at the Los Angeles CineFest for the score of Antonin? (directed by Nicolas Legendre)</li>
        <li>2016 – Top 30 finalist among 222 participants at the Oticons Faculty International Film Music Competition</li>
        <li>2015 – Nominated at the SABAM Award for Best Young International Composer at the World Soundtrack Award 2015</li>
        <li>2015 – Winner at the Montreal International Film Music Competition 2015 for the music of the movie Segment – also nominated for the music of the movie The Cage</li>
      </ul>
    </div>
  </div>
</div>
