<div class="container">
  <div class="row">
    <div class="col">
      <p>Maxime Hervé is a music composer based in Paris.</p>
      <p>
        He started his career in Los Angeles as an assistant for the Oscar winning composer Mychael Danna on the movie Transcendence (Johnny Depp, Morgan Freeman).
        He had the chance to work early on movies, series and AAA games such as Tyrant, Shadow of the Tomb Raider, Resident Evil 7 or Final Fantasy XV.
      </p>
      <p>
        In 2017, Maxime went back to France and stared to work exclusively as a composer. His fruitful collaboration with 3D company Unit Image leads him to compose the music of Beyond the Aquila Rift, an episode of the acclaimed Netflix series Love Death & Robots.
        He recently scored the documentary about the Indian dancer Terence Lewis, Indian Man directed by Pierre X.Garnier.
      </p>
      <p>
        Maxime  is currently working on his first full-length movie Go Fast by Harald Hutter, as well as his second game Solasta Crown of the Magister developed by Tactical Adventures.
      </p>
      <p>
        With origins as a drummer, Maxime is self-taught with a passion for orchestral music, electro and ethnic sounds. He stands out for his ability to merge musical genres, create rich and unique sounds, and skillfully combine music and image.
      </p>
      <p>
        He had been awarded and nominated at numerous festivals for his work and received the first prize of the Young Talent Award at the Media Sound Hamburg 2017.
      </p>
      <h1 class="h4">Rewards</h1>
      <ul>
        <li>2019 - Nominated for the best score production music track - The Production Music Awards </li>
        <li>2017 – Winner at the Lobster’s Films music composition competition – Gindou Cinéma</li>
        <li>2017 – Winner at the Young Talent Award Media Music – Media Sound Hamburg</li>
        <li>2017 – Nominated at Paris Art and Movie Awards for thescore of Antonin? (directed by Nicolas Legendre)</li>
        <li>2017 – Nominated at the TMC London Film Festival for the score of Antonin? (directed by Nicolas Legendre)</li>
        <li>2017 – Winner at International Monthly Film Festival for the score of Antonin? (directed by Nicolas Legendre)</li>
        <li>2017 – Semi-finalist at the Los Angeles CineFest for the score of Antonin? (directed by Nicolas Legendre)</li>
        <li>2016 – Top 30 finalist among 222 participants at the Oticons Faculty International Film Music Competition</li>
        <li>2015 – Nominated at the SABAM Award for Best Young International Composer at the World Soundtrack Award 2015</li>
        <li>2015 – Winner at the Montreal International Film Music Competition 2015 for the music of the movie Segment – also nominated for the music of the movie The Cage</li>
      </ul>
    </div>
  </div>
</div>
