<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="wrapper-800">
        <div class="infos-biography">
          <%= @page.content_en.html_safe %>
        </div>
        <div class="infos-biography">
          <%= @page.content_fr.html_safe %>
        </div>
        <div class="infos-rewards">
          <h1 class="h4">REWARDS</h1>
          <% @rewards.each do |reward| %>
            <div class="award">
              <p>
                <span><%= reward.year %></span><%= reward.description %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
