<div class="container">
  <div class="wrapper-800">
    <div class="row">
      <div class="col">
        <h1 class="h5 mb-4">Music</h1>

        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://soundcloud.com/maximeherve/sets/playlist-privee/s-WWMV4LKhOkM"></iframe>

        <h2 class="h6 mt-5">Also on</h2>
        <ul class="list-unstyled">
          <li class="ms-2"><%= link_to "Spotify", "https://open.spotify.com/artist/2LCWayrRO11GMlRVqnmHpK", class: "link-dark", target: "_blank" %></li>
          <li class="ms-2"><%= link_to "Apple Music", "https://itunes.apple.com/ca/artist/maxime-herv%C3%A9/id1444851749", class: "link-dark", target: "_blank" %></li>
          <li class="ms-2"><%= link_to "Deezer", "https://www.deezer.com/fr/artist/57169412", class: "link-dark", target: "_blank" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
