.game-card{
  @media (max-width: 768px) {
    display: none,
  }

    margin : auto;
    margin-bottom: 3rem;
    max-width: 800px;
    max-height: 220px;
    display: flex;


  .picture{
    height: 200px;
    width : 315px;
  }

  img{
    object-fit: cover;
    border-radius: 3px;
  }

}

.game-content, .game-content-mobile{
  margin-left: 1rem;
  font-size: $body-font;
  font-size: 16px;
  font-weight: 400;

  h4{
    font-size: 20px;
    font-family: $headers-font;
    margin-bottom: 1,5rem;
  }

  p{
    margin: 0;
  }
  span{
      color: gray;
      font-weight: 300;
    }

}

.game-published{

  padding-top: 1rem;
  font-size : 12px ;
}

.game-card-mobile{
  background: $lightest-gray;

  @media (min-width: 768px){
    display: none;
  }

  }
  .game-content-mobile{

    margin-top: 20px;
    margin-bottom: 80px;
  }

  img{
    width : 95%;
    height: 350px;
    margin: 15px;
    object-fit: cover;
    border-radius: 3px;
  }
  .picture-mobile{
    height: 350px;
  }

  .title-mobile{
    padding: 10px 0px;
  }

h4{
  color: #f2f2f2;
  text-shadow: 0px 1px 5px #a7a7a7;
  position: relative;
  left: 25px;
  bottom: 50px;
}

  @media (max-width:450px){
    img{
      max-height: 300px;
    }
    .picture-mobile{
      max-height: 300px;
    }
}
