.movie-card {
  display: flex;
  max-width: 800px;
  margin: auto;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 32px;

  img {
    width: 220px;
    height: 300px;
    object-fit: cover;
  }

  .content {
    margin-left: 24px;
  }

  h2 {
    font-size: 1.8rem;
    margin: 0;
  }

  .type {
    margin: 0 0 8px 0;
    background: $gray;
    display: inline-block;
    color: white;
    padding: 2px 8px;
    font-size: .8em;
  }

  .details, .synopsis {
    font-weight: 300;
    margin: 0;

    span {
      font-weight: 400;
    }
  }

  .synopsis {
    margin-top: 12px;
    font-size: 0.9em;
  }
}
