.navbar-mh, .mobile-menu-mh ul {
  list-style: none;
  padding: 0;

  a {
    text-decoration: none;
    font-family: $headers-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $gray;

    &.active {
      background: $gray !important;
      color: white;
    }

    &:hover {
      background: $light-gray;
    }
  }
}

.navbar-mh {
  display: none;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  border-bottom: $gray solid 2px;
  margin-bottom: 56px;

  li {
    flex: 1;
    text-align: center;
  }

  a {
    padding: 8px 16px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

// for mobile container
.container-fluid {
  @media (max-width: 768px) {
    padding-top: 64px;
  }
}

.mobile-menu-mh {
  height: 64px;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 3;

  .burger {
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 5;
    cursor: pointer;

    div {
      width: 48px;
      height: 8px;
      background: $gray;
      margin-bottom: 8px;
      transition: all .3s ease
    }
  }

  .mask {
    background: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s ease;
  }

  ul {
    position: fixed;
    z-index: 2;
    margin: 0;
    width: 80%;
    height: 100vh;
    background: white;
    padding: 32px;
    margin-left: -80%;
    transition: margin-left .5s ease;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    padding: 2px 8px;
    font-size: 2em;
  }

  &.show {
    display: block;

    ul {
      margin-left: 0;
    }

    .mask {
      position: fixed;
      opacity: 1;
    }

    .burger {
      div:nth-child(1) {
        opacity: 0;
      }

      div:nth-child(2) {
        transform: rotate(45deg) translateY(11px);
      }

      div:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}
