.navbar-mh {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  max-width: 640px;
  margin: auto;
  border-bottom: $gray solid 2px;
  margin-bottom: 56px;

  li {
    flex: 1;
    text-align: center;
  }

  a {
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    color: $gray;
    text-decoration: none;
    font-family: $navbar-font;
    text-transform: uppercase;
    letter-spacing: 1px;

    &.active {
      background: $gray !important;
      color: white;
    }

    &:hover {
      background: $light-gray;
    }
  }
}
