.project-card, .project-card-mobile {
  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $gray;

    img {
      transition: transform .3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .picture {
    overflow: hidden;
    min-width: fit-content;
  }

  .details, .rewards {
    font-weight: 300;
    margin: 0;

    span {
      font-weight: 400;
    }
  }

  img {
    object-fit: cover;
  }

  .type {
    margin: 4px 0 4px 0;
    background: $gray;
    display: inline-block;
    color: white;
    padding: 2px 8px;
    font-size: .8em;
  }

  .rewards {
    margin-top: 12px;
    font-size: 0.8em;
  }
}

.project-card {
  max-width: 800px;
  margin: auto;
  max-height: 300px;
  overflow: hidden;
  margin-bottom: 48px;
  display: none;

  .picture {
    width: 220px;
    height: 300px;
  }

  .content {
    margin-left: 24px;
  }

  h2 {
    font-size: 1.6rem;
  }

  @media (min-width: 768px) {
    display: flex;
  }
}

.project-card-mobile {
  background: $lightest-gray;
  padding: 8px;
  margin-bottom: 32px;

  .project-data {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  .title {
    margin-left: 8px;
  }

  .picture {
    width: 110px;
    height: 150px;
  }

  h2 {
    font-size: 1.6rem;
  }

  @media (min-width: 768px) {
    display: none;
  }
}
